:root {
    --wine: #722f37;
    --tuscan: #814f55;
    --rose: #8f6e72;
    --pine: #2a2f23;
    --wintergreen: #56887d;
    --silver: #acacac;
    --black: #1b1811;
}

html, body { 
    background-color: var(--wine);
    font-family: 'Merriweather', serif;
    color: #fff;
}

h1 {
    text-align: center;
    font-family: 'Bilbo Swash Caps', serif;
    color: #fff;
}

a {
    color: var(--silver);
    text-decoration: underline;
}